@import url('https://fonts.googleapis.com/css?family=Lobster');
$body : #21c6be;
$size : 100px;
$color: #c621b3;
$font:'Lobster', cursive;
body{
	background-color:$body;
}
h1{
	font-family: $font;
	text-align:center;
	color: $color;
	background-color:#236d72;
}
#gameboard{

	
	margin:40px auto 0 auto;
}
.row{
	clear:both;
	overflow:hidden;

}
.square{
	float:left;
	width:119px;
	height:84px;
	cursor:crosshair;
	text-align: center;
	padding-top:35px;
}

.bottom{
	border-bottom: 1px solid black;
}

.right{
	border-right: 1px solid black;
}


button{
	color: $color;
}

ul{ 
	padding-top:50px;
	

	li{
		font-size:16pt;
		color:$color;
		font-family: $font;
		list-style:none;
	}
}

label{
	color: $color;
	font-family: $font;
	
}

